<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>道具</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
	<ion-label>第一種</ion-label>
	<ion-list>
		<ion-item>
			<ion-label>道具 1</ion-label>
			<ion-badge slot="end">12</ion-badge>
		</ion-item>
		<ion-item>
			<ion-label>道具 2</ion-label>
			<ion-badge slot="end">23</ion-badge>
		</ion-item>
	</ion-list>
	<BR>
	<ion-label>第二種</ion-label>
	<ion-list>
		<ion-item>道具 x</ion-item>
		<ion-item>道具 y</ion-item>
	</ion-list>
</ion-content>
